/*MINDEGYIK KÁRTYÁT (WORK? EDUCATION? SKILL) info.js alapján felépíteni! és ezt a csst alkalmazni rá!*/

article{
    background-color: rgb(250, 243, 235);
    border-radius: 3px;
    box-shadow: 10px 10px #111111;
    border: 1px solid black;
    padding: 10px;
    margin: 50px;
}

section{
    position: relative;
}

label{
    font-weight: bold;
    margin: 5px;
}

.info-container input{
    width: 97%;
    border: none;
    border-radius: 3px;
    padding: 7px;
    font-size: 15px;
    margin: 5px;
}   

.icon-userinfo{
    position: absolute;
    top: 7px;
    right: 5px;
}