article{
    background-color: rgb(250, 243, 235);
    border-radius: 3px;
    box-shadow: 10px 10px #111111;
    border: 1px solid black;
    padding: 10px;
    margin: 50px;
}
 
/*MINDEGYIK KÁRTYÁT (WORK? EDUCATION? SKILL) info.js alapján felépíteni! és ezt a csst alkalmazni rá!*/
section{
    position: relative;
}

label{
    font-weight: bold;
    margin: 5px;
}
.info-container{
    line-height: 250%;
}
.info-container input, .info-container textarea{
    width: 97%;
    border: none;
    border-radius: 3px;
    padding: 7px;
    font-size: 15px;
    margin: 5px;
} 

.icon-logo{
    position: absolute;
    top: 7px;
    right: 5px;
}

.info-parent{
    position: relative;
}

.icon-right{
    position:absolute;
    top: 13px;
    right: 6px;
}

/*education*/
.edu-date input{
    width: 30%;
    display: inline;
    margin: auto;
}

.edu-border input, .edu-border textarea{
    border: 1px solid black;
}

/*Skills*/

.addSkill-btn, .cancelSkill-btn{
    background: white;
    border-radius: 3px;
    border: 1px solid black;
    padding: 4px;
    transition: 0.3s;
}

.addSkill-btn:hover, .cancelSkill-btn:hover{
    box-shadow: 2px 2px #111111;
    transform: translateX(-3px);
    background: rgb(25, 148, 25);
}

.cancelSkill-btn:hover{
    background: crimson;
}

.skill-buttons button{
    margin: 10px;
}

.skill-item{
    width: 50%;
    position:relative;
    margin-left: 8px;
}
.skill-item button{
    position:absolute;
    top: 9px;
    right: 18%;
    background: none;
    border: none;
    transition: 0.3s;
}

.skill-item button:hover{
    color: crimson;
    transform: scale(1.2);

    box-shadow: none;
    transform: none;
}

/*work*/
.deleteWork-btn{
    float:right;
    position: absolute;
    top: 27px;
    right: 5px;
}

.work-container{
    position:relative;
}

.work-card{
    font-weight: bold;
    display:flex;
    gap: 10%;
}

.description-btn{
    float:right;
    position: absolute;
    top: 35%;
    right: 20%;
    transition: 0.3s;
    border: none;
    background: none;
    font-size: 25px;
}

.description-btn:hover{
    background-color: white;
    transform: none;
    background: none;
    box-shadow: none;
    transform: scale(1.2)
}

.descriptionDel-btn{
    font-size: 15px;
    top: 32px;
}

.description{
    display: block;
}

@media only screen and (max-width: 600px){
    article{
        margin:0;
        width: 100%;
        box-shadow: none;
    }
}