.preview-form{
    margin-top: 60px;
    margin-bottom: 20px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    background-color: rgb(250, 243, 235);
    border-radius: 3px;
    box-shadow: 10px 10px #111111;
    border: 1px solid black;
}

/*user info container*/
.info-box{
    position:relative;
    line-height: 5px;
    
    /*enélkül a .data-container lezuhan*/
    border: 1px solid rgb(250, 243, 235);
}

.name-container{
    font-weight: bold;
    font-size: 35px;
}
.data-container{
    font-weight: bold;
    position: absolute;
    top: 0px;
    right: 0px;
}

.underline{
    text-decoration: underline;
}

.education-container{
    margin-left: 15px;
}

.edu-inline{
    font-weight: bold;
    font-size: 20px;
    display: flex;
    gap: 15px;
}

.education-container span{
    font-weight: bold;
}

.edu-inline p:nth-child(2){
    text-transform:uppercase;
}

.indent{
    margin-left: 10%;
}

.education-container li{
    margin-left: 1%;
    margin-bottom: 14px;  
}

.education-container h2{
    margin-bottom: 8px;
}

/*skills*/
.skills-container li{
    margin-left: 20px;
}

.indent-title{
   margin-left: 15px;
}

/*work*/
.work-container h3{
    margin-left: 20px;
}

/*responsive*/
@media only screen and (max-width: 600px){
    .preview-form{
        margin:0;
        width: 100%;
        box-shadow: none;
    }
}
