header{
    color:rgb(255, 255, 255);
    text-shadow: 2.5px 2.5px #424141;
    width: 100%;
    text-align: center;
    position: relative;
    
    background-color: rgb(24, 70, 168);
    /* background-color: rgb(92, 91, 91); */
    /* background-color: rgb(134, 66, 190); */

    border-radius: 3px;
    box-shadow: 0 2rem 3rem 1rem rgba(0, 0, 0, 0.15);
    /* border: 3px solid rgb(16, 66, 173); */
}

h2{
    font-size: 2.3rem;
    margin-top: 0px;
}

a{
    position: absolute;
    bottom: 3px;
    right: 3px;
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 700px){
    header{
        box-shadow: none;
    }
    
    a{
        position:unset;
    }
    h2{
        margin: unset;
    }
}
